.App {
  text-align: center;
  position: relative;
}

.Container {
  background-color: #d3d3d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Glass {
  background-color: #ffffff;
  height: 400px;
  width: 200px;
  justify-content: center;
}

.Nivel-1 {
  background-color: #e6f2ff;
  justify-content: center;
  height: 80px;
}

.Nivel-2 {
  background-color: #cce6ff;
  justify-content: center;
  height: 90px;
}

.Nivel-3 {
  background-color: #b3d9ff;
  justify-content: center;
  height: 100px;
}

.Nivel-4 {
  background-color: #99ccff;
  justify-content: center;
  height: 100px;
}

.increment {
  border: 1px solid;
  padding: 0px 20px;
  background-color: #2d888f;
  color: white;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: -285px;
  left: 150px;
  font-size: 20px;
  display: inline;
  text-align: center;
}

.decrement {
  border: 1px solid;
  padding: 0px 20px;
  background-color: #2d888f;
  color: white;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: 170px;
  right: 150px;
  font-size: 30px;
  display: inline;
  text-align: center;
}